# .env file
# Environment config file

# APPLICATION
DB_HOST=localhost
DB_PORT=3306
DB_USERNAME=fawkes-api
DB_PASSWORD=fawkes-api
DB_NAME=fawkes-api
APPLICATION_PORT=5000

# JWT AUTHENTICATION TOKEN
SECRET_KEY=secretkey

# EMAIL
SECRET_BASE64_KEY=secret_base64_key
WEB_URL=http://localhost:3000
EMAIL_SEND:email.example@gmail.com
EMAIL_PASSWORD:password@example
EMAIL_TEMPLATES_PATH=/home/vinicius/Documents/example/fawkes-api/docs/email/templates

# TWITCH
TWITCH_CLIENT_ID=clientid
TWITCH_CLIENT_SECRET=clientsecret
TWITCH_SCOPES=user:read:email;channel:manage:redemptions;channel:read:hype_train;
TWITCH_HELIX_URL=https://api.twitch.tv/helix

